@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansregular';
    src: url('../fonts/PTSansRegular.eot');
    src: url('../fonts/PTSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSansRegular.woff') format('woff'),
         url('../fonts/PTSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

/* Variables */
@base_color_pink: #d34272;
@base_color_green: #21bc92;
@text_color: #474747;
@text_color_slogan: #858585;
@font_main:"Arial", sans-serif;
@font_main_text: "PTSansregular", "Arial", sans-serif;
@font_main_title: "ralewayregular", "Arial", sans-serif;
@uppercase_letter: uppercase;


/* Mixins */
.flexbox-vertical-align{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.white-title {
    color: #fff;
    text-shadow:1px 1px 1px #179270;
}
.content-banner-button {
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.3rem 4.2rem;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    tranition:background 1s ease;
    z-index:30;
}
.features-item {
    content:"";
    float: left;
    background-image: url("../images/icon-feature.png");
    background-repeat: no-repeat;
    height: 63px;
    margin-right: 2.5rem;
}
.clear-indents {
    padding: 0;
    margin: 0;
}
.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}




.row {
  margin-right: -10px;
  margin-left: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10,.col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}
p {
    padding: 0;
    margin:0;
}
/* header */
.wrapper {
    font-size: 10px;
    font-family: @font_main_text;
}
header {
    height: 107px;
    .flexbox-vertical-align;
}
.header__logo {
    display: inline-block;
}
.header__logo-main {
    font:normal 3.2rem/1 @font_main_title;
    text-transform: @uppercase_letter;
    color: @base_color_pink;
    margin: 0;
        span {
            color: @base_color_green;
        }
}
.header__social-icon a{
    &:hover {
        text-decoration:none;
    }
}
.header__logo-slogan {
    color:@text_color_slogan;
    font: normal 1rem/1 @font_main;
    text-transform: @uppercase_letter;
}
.header__phone p {
    text-transform: @uppercase_letter;
    font:normal 1.9rem @font_main_text;
    color:@text_color;

    span {
        color: @base_color_pink;
        display: inline-block;
        line-height: 2;

        &:before {
            content:"";
            float: left;
            width: 23px;
            height: 39px;
            background: url("../images/icon-phone.png")0 0 no-repeat;
            margin-right: 0.5rem;
        }
    }
}
/* content */
.wrapper__content-banner {
    /*background:radial-gradient(ellipse at top center #fff, #21bc92);*/
    position: relative;
    overflow: hidden;
}

.img-responsive, .thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    position: relative;
    max-width:50%;
}
.carousel-inner > .item {
    z-index:50;
}

.carousel-indicators {
    z-index: 910;
    width:10%;
    margin-left:auto;
}
.wrapper__content-banner-picture {
    background: @base_color_green;
    padding: 6rem 0 5rem;
}
.wrapper__content-banner-button{
    background: @base_color_pink;
    height: 141px;
    margin-top: -12rem;
    position:relative;
    z-index: 10;
}
.carousel-inner h2 {
    font:normal 2.7rem @font_main_title;
    color: #fff;
    margin-top:0;
    .white-title
}
.wrapper__content-banner-text {
    position: absolute;
    right:0;
    top:0;
    left:50%;
    width: 48%;
    height: 404px;
    p {
        font-size: 1.5rem;
        color: @text_color;
        text-shadow:1px 1px 1px #22c7a4;
    }
}
.wrapper__content-banner-button-wrap {
    width: auto;
    position:absolute;
    right: 1%;
    bottom: 25%;
}
.wrapper__content-banner-button-buy {
    .white-title;
    .content-banner-button;
    background: @base_color_green;
    margin-right: 1rem;
    &:hover{
        background:lighten(@base_color_green, 12%);
        text-decoration: none;
        .white-title;
    }
}
.wrapper__content-banner-button-demo {
    .content-banner-button;
    background: @text_color;
    text-shadow:1px 1px 1px #000;
    color: #fff;
    &:hover{
        background:darken(@text_color, 12%);
        text-decoration: none;
        .white-title;
    }
}

.wrapper__content-features,
.wrapper__content-flattool,
.wrapper__content-membership,
.wrapper__content-feedback {
    text-align: center;
    h2{
        font:normal 3.2rem @font_main_title;
        margin: 7rem auto 5rem;
        color: @base_color_green;
        text-transform: uppercase;
        width: 42%;
        text-align: center;
        span {
            color: @base_color_pink;
        }
    }
}
.wrapper__content-features-item {
    padding: 0 3rem;
    margin-bottom:2rem;
    h3{
       color: @base_color_pink;
        font:normal 3.2rem/1 @font_main_title;
        text-transform: uppercase;
        .clear-indents;
        text-align: left;
        span {
            color: @base_color_green;
            display:block;
        } 
    }
    &.assign:before{
        .features-item;
        width: 71px;
        background-position: 0 0;
    }
    &.search:before{
        .features-item;
        width: 63px;
        background-position: -71px 0;
    }
    &.settings:before{
        .features-item;
        width: 69px;
        background-position: -134px 0;
    }
    p {
        font:normal 1.5rem/1.5 @font_main_text;
        color: @text_color;
        text-align: justify;
        margin: 1rem 0;
    }
}
.wrapper__content-membership-item {
    /*margin: 0 1% 2rem;*/
    padding: 0 0 2.5rem;
    h4 {
        font: normal 1.8rem/1.7 @font_main_text;
        color: #fff;
        text-transform: @uppercase_letter;
        display: inline-block;
        width: 80%;
        margin-top: 0;

        span {
            font-size: 2.7rem;
            vertical-align: -0.2rem;
        }
    }
    p {
        font: normal 2rem/3.5 @font_main_text;
        color: #fff;
        text-transform: @uppercase_letter;
    }
    ul{
        text-align: left;
        li{
            font: normal 1.5rem/3 @font_main_text;
            color: #fff;
            margin: 0 1.5rem 0 2.5rem;
            list-style: none;
            &:before{
                content:"►";
                color: #fff;
                margin: 0 1rem 0 0;
            }
        }     
    }
    a {
        color: #fff;
        font-size: 1.5rem;
        display: inline-block;
        padding: 0.8rem 4.5rem;
        position: relative;
        right:-5.5rem;
    }
}
.wrapper__content {
    &-membership-item.regular{
        background: @text_color;
        h4 {
            background: @base_color_green;
        }
        a {
            background: @base_color_green;
        }
    }
}
.wrapper__content-membership-item.elite {
    background: @base_color_pink;
    h4 {
        background: @text_color;
    }
    a {
        background: @text_color;
    }
}
.wrapper__content-membership-item.pro-user {
    background: @base_color_green;
    h4 {
        background: @base_color_pink;
    }
    a {
        background: @base_color_pink;
    }
}
.wrapper__content-feedback {
    h2 {
        width: 100%;
        text-align: left;
    }
    .wrapper__content-feedback-left-item {
        text-align: left;
        width: 80%;
        margin:0 0 2rem;
        img {
            float: left;
            width: 5rem;
            margin: 0 1.5rem 0 0;
        }
        .wrapper__content-feedback-left-item-text {
            margin:0 0 1rem 5rem;
            color: @text_color;
            font-size: 1.5rem;
        }
        .wrapper__content-feedback-left-item-name {
            color: @base_color_pink;
            margin-left: 6.5rem;
            font-size: 1.5rem;
            span {
                color: @base_color_green;
            }
        }
    }
}
.wrapper__content-feedback-right {
    text-align: left;
}

/* Footer - start */

footer {
    clear:both;
    height:120px;
    background:@base_color_pink; 
    .flexbox;
    flex-flow:row wrap;
    align-items:center;
    .wrapper__footer-first {
        color:#fff;
        .footer_text{
            color:#fff;
            font-family:@font_main_title;
            text-transform:@uppercase_letter;
            h2{
                font-size:3.2rem;
                span {
                    font-size:2.1rem;
                    display:block;
                }
            }
        }
        .search{
            height:88px;
            .flexbox;
            align-items:center;
            justify-content:flex-end;
            input[type="text"] {
                height:35px;
                color:@text_color;
                padding:0 1rem;
                font-size:1.5rem;
            }
            input[type="submit"] {
                width:62px;
                height:54px;
                background:url("../images/mail-form.png")0 0 no-repeat;
                .flexbox;
                color:transparent;
            }
        }
    }
    .wrapper__footer-second {

    }

}

/* Footer - end */

@media (min-width:1200px) {
    .carousel.container {
        width: 1170px;
    }
    /*.wrapper__content-banner-text {
        left:50%;
    }*/
    .wrapper__content-banner-text {
        top:5rem;
        width:40%;
    }
    .carousel-inner h2 {
        font-size:4.3rem;
    }
    .carousel-indicators {
        width:60%;
        margin-left:-30%;
    }

    .wrapper__content-banner{
        &::after {
            content:"";
            display: block;
            position: absolute;
            z-index: 20;
            right: -10%;
            top:0;
            width: 400px;
            height: 100%;
            transform:skew(30deg);
            background: rgba(255,255,255,0.1);
        }
    }
    .wrapper__content-banner-button-wrap {
        width: 41.6%;
        right:6%;
        bottom:8%;
    }
    .wrapper__content-membership-item {
        width:31%;
        margin: 0 1% 2rem;
    }

}
